:root {
	--bs-toast-bg: rgba(var(--bs-body-bg-rgb), 1);
	--bs-toast-zindex: 9999;
}

/* BODY & BACKGROUND */

body {
	background: linear-gradient(90deg, #242424, #185657);
	background-size: 800% 800%;
	animation: gradientAnimation 15s ease infinite;
	min-height: 100vh;
	margin: 0;

	font-family: 'Arimo', sans-serif;
	color:whitesmoke;
}

/* ANIMATIONS */

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadeAnimation {
	0% {
	  transform: translateY(3%);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0%);
	  opacity: 1;
	}
  }
  
.fadeAnimation {
	animation: 1s fadeAnimation;
}

.slide-right {
	transition: transform 0.3s ease, color 0.3s ease;
	color:whitesmoke;
}

.slide-right:hover {
	transform: translateX(20px);
	color: #00babc;
}

/* LOADING OVERLAY ANIMATION */
.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #242424, #185657);
	background-size: 800% 800%;
	animation: gradientAnimation 15s ease infinite;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.1s ease;
}

.loading-overlay.active {
	opacity: 1;
	pointer-events: auto;
}

/* BOOTSTRAP COMPONENTS CUSTOMIZATION */

.navbar-toggler {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(93%) contrast(100%);
}

.btn-prg {
	background-color: #00babc;
	color: whitesmoke;
	cursor: pointer;
}

.btn-prg:hover {
	background-color: #009fa1;
	color: whitesmoke;
}

.link-prg {
	color: #00babc;
}

.link-prg:hover {
	color: #009fa1;
	cursor: pointer;
}

.nav-link {
	color: #00babc !important;
	cursor: pointer !important;
}

.nav-link.active {
	background-color: #00babc !important;
	color: whitesmoke !important;
}

.nav-link:hover {
	background-color: #009fa1 !important;
	color: whitesmoke !important;
}

.modal-content, .modal-header, .modal-footer, .modal-body, .list-group {
	color: #242424;
}

.toast-body {
	color: #242424;
}

/* MISCELANIOUS */

.badge-coming-soon {
	position: relative;
	display: inline-block;
}

.badge-coming-soon::after {
	content: "Coming Soon";
	position: absolute;
	top: 0;
	right: 0;
	background-color: #00babc;
	color: white;
	padding: 0.2em 0.5em;
	border-radius: 0.25rem;
	font-size: 0.6rem;
	font-weight: bold;
	transform: translate(50%, -50%);
}

.reset-styles {
	all: unset;
	display: inline-block;
	cursor: pointer;

	font-family: 'Arimo', sans-serif;
	color:whitesmoke;
}
